<div class="col-xs-3">
	<h2 style="width: 250px">User info</h2>
	<table class="table">
		<tbody>
			<tr>
				<%= attachment_image_tag user, :profile_image_id, :fill, 60, 60, fallback: "no_image.jpg" %>
			</tr>
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<%= link_to edit_user_path(current_user.id) do %>
			<span class="btn btn-default glyphicon glyphicon-wrench" aria-hidden="true" style="width: 250px"></span>
		<% end %>
	</div>
	<h2 style="width: 250px">New Book</h2>
	<% @book = Book.new %>

	<%= render "books/error", wild: @book %>

	<%= form_for(@book) do |f| %>
		<h4>Title</h4>
		<%= f.text_field :title, style: "width: 250px" %>

		<h4>Opinion</h4>
		<%= f.text_area :body, style: "width: 250px" %>

		<%= f.submit "Create Book", class: "btn btn-primary", style: "width: 250px" %>
	<% end %>
</div>